<app-header headerTitle="Together Against COVID19"></app-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
    <!--  -->
    <ion-slides pager="true">
        <ion-slide>
            <ion-icon
                    src="../../assets/icon/coronavirus.svg"
                    class="bigger"
            ></ion-icon>

            <h1>
                <ion-text>#TogetherAgainstCOVID19</ion-text>
            </h1>

            <h5>
                <ion-text>
                    Contating and preventing the Coronavirus (COVID-19) from spreading
                    is a <b>national responsibility.</b>
                </ion-text>
            </h5>
        </ion-slide>
        <!--  -->
        <ion-slide>
            <ion-icon src="../../assets/icon/oboarding2.svg"></ion-icon>

            <h1>
                <ion-text>How will this app achieve it’s objective?</ion-text>
            </h1>

            <ion-item lines="none">
                <ion-text>
                    Alert and notify individuals that are near a newly confirmed case
                    during the quarantine period
                </ion-text>
                <ion-icon
                        src="../../assets/icon/onboardingAlert.svg"
                        slot="start"
                        color="primary"
                ></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-text>
                    Track the movement of self-isolated individual cases to ensure the
                    quarantine regulations
                </ion-text>
                <ion-icon
                        src="../../assets/icon/onboardingTrack.svg"
                        slot="start"
                        color="primary"
                ></ion-icon>
            </ion-item>

            <ion-item lines="none">
                <ion-text>
                    Reporting social gatherings that are viloating the quarinte law
                </ion-text>
                <ion-icon
                        src="../../assets/icon/onboardingReport.svg"
                        slot="start"
                        color="primary"
                ></ion-icon>
            </ion-item>
        </ion-slide>
        <!--  -->
        <ion-slide>
            <ion-icon src="../../assets/icon/onboarding3.svg"></ion-icon>

            <h2>
                <ion-text>Location Services must be enabled all the time</ion-text>
            </h2>

            <p>
                <ion-text>
                    Please enable location services and set it to <b>Always</b> to allow
                    the app to function accurately in order to protect yourself and
                    others too
                </ion-text>
            </p>

            <h4>
                <ion-text>About your privacy and Data</ion-text>
            </h4>

            <ion-item lines="none">
                <ion-text>
                    Data privacy is in line with the Personal Data Protection Act
                </ion-text>
                <ion-icon
                        src="../../assets/icon/privacy-1.svg"
                        slot="start"
                        color="primary"
                ></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-text>
                    Data will be collected for 2 to 6 weeks based on the contract
                    tracing cases and you will have the right to permanently delete
                    them.
                </ion-text>
                <ion-icon
                        src="../../assets/icon/privacy-2.svg"
                        slot="start"
                        color="primary"
                ></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-text>
                    Data will be stritcly used for the sole purpose of the limiting the
                    spread of COVID-19
                </ion-text>
                <ion-icon
                        src="../../assets/icon/privacy-3.svg"
                        slot="start"
                        color="primary"
                ></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-text>
                    In-device data encryption will be used to protect your data.
                </ion-text>
                <ion-icon
                        src="../../assets/icon/privacy-4.svg"
                        slot="start"
                        color="primary"
                ></ion-icon>
            </ion-item>
        </ion-slide>

        <!--  -->
        <ion-slide>
            <ion-icon
                    src="../../assets/icon/onboarding-notification.svg"
            ></ion-icon>

            <h2>Register to reveive notifications through the app</h2>
            <div class="buttonbottom">
                <ion-button fill="solid"
                             (click)="register()">
                    REGISTER NOW
                    <ion-icon slot="end" name="arrow-forward"></ion-icon
                    >
                </ion-button>

                <ion-button fill="clear"
                            (click)="createShadowUser()"
                >REGISTER LATER
                    <ion-icon slot="end" name="arrow-forward"></ion-icon
                    >
                </ion-button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
