<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button>
        <ion-text color="secondary">
          {{ user.name }}
        </ion-text>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title color="light" class="ion-text-center">{{
      headerTitle
    }}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <app-menu></app-menu> -->
