<app-header headerTitle="Number of Cases"></app-header>

<ion-content>
  <div class="head">
    <h1>Summary of Cases</h1>
    <h4>Last updated:</h4>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <p class="title">Total Tested:</p>
          <p class="number">10000</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <p class="title">Active Cases:</p>
          <p class="number">294</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <p class="title">Stable Cases:</p>
          <p class="number">280</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <p class="title">Crtical Cases:</p>
          <p class="number">5</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <p class="title">Dicharged Cases:</p>
          <p class="number">400</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <p class="title">Death:</p>
          <p class="number">2</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid></ion-content
>
