<ion-content>
  <h2>Summary of Cases</h2>
  <h4>Last updated:</h4>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Moderate risk of infection</ion-card-subtitle>
            <ion-card-title>Your status is Yellow</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Moderate risk of infection</ion-card-subtitle>
            <ion-card-title>Your status is Yellow</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Moderate risk of infection</ion-card-subtitle>
            <ion-card-title>Your status is Yellow</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Moderate risk of infection</ion-card-subtitle>
            <ion-card-title>Your status is Yellow</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Moderate risk of infection</ion-card-subtitle>
            <ion-card-title>Your status is Yellow</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid></ion-content
>
